@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global dark theme styles */
html,
body {
  @apply bg-base03 text-base1;
  font-family: 'Montserrat', sans-serif;
}

/* Custom text shadow utilities */
@layer utilities {
  .text-shadow-glow-yellow {
    text-shadow: 0 0 10px rgba(181, 137, 0, 0.7);
  }
  .text-shadow-glow-orange {
    text-shadow: 0 0 10px rgba(203, 75, 22, 0.7);
  }
}

/* Header styles */
h1,
h2,
h3 {
  @apply transition duration-300; /* Smooth transition */
}

h1:hover,
h2:hover,
h3:hover {
  @apply text-yellow text-shadow-glow-yellow;
}

/* Link styles */
a {
  @apply text-blue transition duration-300;
}

a:hover {
  @apply text-orange text-shadow-glow-orange;
}

/* Button styles */
.button {
  @apply bg-sky-500/100 text-base3 px-3 py-1 rounded transition duration-300;
}

.button:hover {
  @apply bg-orange text-base03 shadow-glow-orange;
}

.button:active {
  @apply bg-red text-base03;
}

a:focus,
.button:focus {
  @apply outline-none ring-2 ring-yellow;
}

/* Responsiveness: Larger padding on medium screens */
@media (min-width: 768px) {
  .button {
    @apply px-6 py-3;
  }
}

/* --- Users Component Styles --- */
@layer components {
  .users-container {
    @apply p-4;
  }
  .users-list {
    @apply list-none m-0 p-0 flex flex-col gap-3;
  }
  .user-item {
    @apply flex transition duration-300;
  }
  .user-item:hover .user-name {
    @apply bg-green text-base03;
  }

  /* --- AddStuffForm Component Styles --- */
  /* Form container: */
  .add-stuff-form-container {
    @apply p-6;
  }
  /* Form */
  .add-stuff-form {
    @apply bg-base02 p-6 rounded-md shadow-md max-w-md mx-auto;
  }
  /* Form group */
  .form-group {
    @apply mb-4;
  }
  /* Form label */
  .form-label {
    @apply block text-base1 mb-1;
  }
  /* Form input */
  .form-input {
    @apply w-full bg-base03 border border-base01 rounded-md p-2 text-base1 placeholder-base00 focus:outline-none focus:ring-2 focus:ring-blue;
  }

  /* Input fields */
  input,
  textarea {
    @apply w-full bg-base03 border border-base01 rounded-md p-2 text-base1 placeholder-base00 focus:outline-none focus:ring-2 focus:ring-blue;
  }
  /* Submit button */
  .form-submit-button {
    /* @apply bg-blue text-base3 px-6 py-2 rounded-md text-white transition duration-300; */
    @apply bg-sky-500 text-base3 px-3 py-1 rounded transition duration-300;
    &:hover {
      @apply bg-orange text-base03 shadow-glow-orange;
    }
    &:active {
      @apply bg-red text-base03;
    }
    &:focus {
      @apply outline-none ring-2 ring-yellow;
    }
  }
  /* --- Footer Styles --- */
  .footer {
    @apply bg-base03 text-base1 p-4 text-sm text-center;
  }
}
